.fa-weibo:before { color:#FF4040; }
.fa-home:before { color:#FF7256; }
.fa-envelope:before { color:#F4A460; }
.fa-github:before { color:#9370DB; }
.fa-twitter:before { color:#87CEFA; }
.fa-clock-o:before { color:#CDCD00; }
.fa-tags:before { color:#CDBE70; }
.fa-folder-open:before { color:#CD96CD; }
.fa-arrow-down:before { color:#EEAD0E; }
.fa-ravelry:before { color:#EEB422; }
.fa-list:before { color:#FFAEB9; }
.fa-th-large:before { color:#FFBBFF; }
.fa-flag-checkered:before { color:#FFA54F; }
.fa-map-signs:before { color:#EEAD0E; }
.fa-paw:before { color:#FF6347; }

.fa-link:before { color:#CD96CD; }
.fa-address-card:before { color:#CD950C; }
.fa-rocket:before { color:#CD8162; }
.fa-calendar:before { color:#CD69C9; }

.fa-steam:before { color:#8DB6CD; }
.fa-snowflake-o:before { color:#BFEFFF; }